SITE_URL=https://www.example.com
PUBLIC_SITE_NAME=Chaotic Co-op Site
PUBLIC_ORGANIZATION_NAME=Chaotic Co-op Site
PUBLIC_CONTACT_EMAIL=contact@example.com
ADS_TXT_LINES=google.com, pub-XXXXXXXXXXXXXXXX, DIRECT, f08c47fec0942fa0
