SITE_URL=https://www.example.com
PUBLIC_SITE_NAME=CoopQueue
PUBLIC_ORGANIZATION_NAME=CoopQueue
PUBLIC_CONTACT_EMAIL=contact@example.com
ADS_TXT_LINES=google.com, pub-XXXXXXXXXXXXXXXX, DIRECT, f08c47fec0942fa0
